body {
	margin: auto;
	height: 500px;
	padding: 20px;
	background-image: url("shopping\ [MConverter.eu].png");
	background-size: cover;
	
}

#header {
	width: 1300px;
	color: maroon;
	text-align: center;
	font-size: 40px;
	padding: 10px 10px 10px 0px;
	margin-bottom: 15px;
	border-bottom: 4px solid green;
}

#footer {
	border-top: 4px solid green;
	margin-top: 20px;
	color: #336699;
	padding-top: 10px;	
}

